@font-face {
    font-family: 'Roboto';
    src: url(Roboto.ttf);
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.main_text_one {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Roboto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 900;
    color: white;
}

.logo_main {
    width: 200px;
}

nav {
    background-color: white;
}

nav ul a {
    color: black;
}

.chip_main>img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    right: 5px;
}

.chip_main {
    display: inline-block;
    height: 70px;
    font-size: 18px;
    color: black;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 40px;
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;
    font-weight: 300;
    max-width: 250px;
    align-items: center;
    display: flex;
}

.chip_main_text {
    justify-content: center;
}

a {
    cursor: pointer;
}

.chip_main:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.parallax-container {
    height: auto !important;
    padding-bottom: 120px;
}

.tp_powered_by {
    opacity: 0;
}

.main_nav_item {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    transition: color .3s;
    line-height: 1.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Roboto;
    letter-spacing: .65px;
    text-align: center;
    padding: 10px !important;
    margin: 0px 10px 20px 0px;
}

.main_nav_item:hover {
    color: #d1a500;
}

.sidenav-trigger {
    color: black;
}

.nav_burger {
    height: 30px;
    margin-top: 18px;
}

.main_nav_992_true {
    display: none;
}

.btn {
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #d1a500;
}

.btn:focus {
    background-color: #d1a500;
}

.modal_main {
    background-color: transparent;
    box-shadow: none !important;
}

.nav_birger_item {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    margin: 10px auto;
    height: 100px;
}

a {
    color: black;
    cursor: pointer;
}

.main_ul>li {
    list-style-type: disc !important;
}

p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
}

.about_text {
    color: black;
    font-weight: 900;
    font-size: 32px;
    font-family: Roboto;
}

.main_text_about {
    color: black;
    font-family: Roboto;
    font-weight: 300;
}

.page-footer {
    background-color: #d1a500;
}

.nav_pages_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fnt40 {
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.parallax-head {
    height: 640px;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

.container_para {
    background-color: rgba(5, 155, 206, 0.4);
    -webkit-box-shadow: 6px 6px 18px 0px rgba(5, 155, 206, 0.75);
    -moz-box-shadow: 6px 6px 18px 0px rgba(5, 155, 206, 0.75);
    box-shadow: 6px 6px 18px 0px rgba(5, 155, 206, 0.4);
}

.grid-container-2fr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* media */

@media screen and (max-width:992px) {
    .main_nav_992_true {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}