@font-face {
    font-family: 'Roboto';
    src: url(Roboto.ttf);
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.header {
    position: fixed;
    width: 100%;
    background: rgba(14, 14, 14, 0.4) !important;
    z-index: 12;
}

.modal-backdrop.show {
    opacity: .5;
    z-index: 9;
}

.js-tp-powered-by-wrapper-klit_powered_by_c1_promo1486 {
    width: 1000px;
}

.sputnik8_tours_box_wrapper4821711586 {
    width: 1000px;
}

.two_hidden {
    display: none;
}

@media screen and (max-width:992px) {
    .one_hidden {
        display: none;
    }
    .two_hidden {
        display: block;
    }
    .two_scroll {
        overflow-x: scroll;
    }
}