@font-face {
    font-family: 'Roboto';
    src: url(Roboto.ttf);
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Arbat';
    src: url(../fonts/16815.otf);
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Caveat';
    src: url(../fonts/Caveatregular.ttf);
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.header {
    position: fixed;
    width: 100%;
    background: rgba(14, 14, 14, 0.4) !important;
    z-index: 12;
}

.modal-backdrop.show {
    opacity: .5;
    z-index: 9;
}

.js-tp-powered-by-wrapper-klit_powered_by_c1_promo1486 {
    width: 1000px;
}

.footer_column {
    text-align: right;
}

.sputnik8_tours_box_wrapper4821711586 {
    width: 1000px;
}

.two_hidden {
    display: none;
}

.img_frans_main {
    width: 100%;
    float: left;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.img_frans_main_2 {
    width: 100%;
    float: right;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.main_nav_item__locale li {
    margin-right: 10px;
}

.main_nav_item__locale {
    display: flex;
    position: absolute;
    top: 0px;
    height: 100%;
    justify-content: center;
    align-items: center;
    right: 80px;
}

@media screen and (max-width:992px) {
    .one_hidden {
        display: none;
    }
    .two_hidden {
        display: block;
    }
    .two_scroll {
        overflow-x: scroll;
    }
    .footer_column {
        text-align: center;
    }
    .fas,
    .far {
        font-size: 30px;
        position: relative !important;
        top: 10px !important;
        padding-right: 31px;
    }
    .footer {
        width: 100%;
        padding-top: 0 !important;
        padding-bottom: 104px;
        background: #31124b;
    }
    .img_part {
        padding: 15px;
        width: 100px;
    }
    .img_frans_main,
    .img_frans_main_2 {
        width: 100%;
        float: none;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
}